/* cabin-sketch-latin-700-normal*/
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./cabin-sketch-latin-700-normal.woff2') format('woff2'), url('./cabin-sketch-latin-700-normal.woff') format('woff');
  
}
